@import "../../css/global.scss";
@import "../../css/palette.scss";

// TABLE-PAGE specific options
$table-panel-width: 25% !default;
$table-card-width: calc(100% - $table-panel-width);

.table_down_panel {
  display: flex;
}

.table_panel {
  display: flex;
  width: $table-panel-width;
  height: calc(100vh - $top-menu-height);
  
  background: transparent;
}



.table_card {
  height: calc(100vh - $top-menu-height - 20px);
  padding: 10px 14px 20px 20px;
  width: $table-card-width;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.table_card > *:not(:last-child) {
  margin-bottom: 20px;
}

.table_card_footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;

}

.table_card_footer_btn {
  width: 100%;
  display: flex;
  
}

.table_card_fields{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 6px;
}



.table_card_fields::-webkit-scrollbar {
  //display: none;
}

.table_card_fields .input{
  margin-bottom: 15px;
  
}

.table_card_buttons{
  display: flex;
  flex-direction: column;

  
}

.table_card_buttons .btn{
  height: $input-height;
}

.table_card_buttons > *:not(:last-child){
  margin-bottom: 15px;
}

