@import "../../css/global.scss";
@import "../../css/palette.scss";

// TABLE-PAGE specific options
$table-panel-width: 25% !default;
$table-card-width: calc(100% - $table-panel-width);

.table_down_panel {
  display: flex;
}

.table_panel {
  display: flex;
  width: calc($table-panel-width - 20px);
  min-width: calc($table-panel-width - 20px);
  height: calc(100vh - $top-menu-height);
  transition: width 0.2s, min-width 0.2s;
}

.table_down_panel_no_card .table_panel{
  width: 100%;
  flex-grow: 1;
  width: 100%;
  min-width: 100%;
}

.mobile-view .table_panel {
  height: calc(100vh - $top-menu-height - $main-menu-width);
  width: 100%;
}





.table_card {
  height: calc(100vh - $top-menu-height - 20px);
  padding: 22px 14px 20px 20px;
  width: $table-card-width;
  min-width: $table-card-width;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.mobile-view .table_card {
  height: calc(100vh - $top-menu-height - 20px - $main-menu-width);
  width: calc(100% - 40px);
  margin-left: 20px;
  position: absolute;
}

.table_card > *:not(:last-child) {
  margin-bottom: 20px;
}

.table_card_footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;

}

.table_card_footer_btn {
  width: 100%;
  display: flex;
  
}

.table_card_fields{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 6px;
}



.table_card_fields::-webkit-scrollbar {
  //display: none;
}

.table_card_fields .input{
  margin-bottom: 15px;
  
}

.table_card_buttons{
  display: flex;
  flex-direction: column;

  
}

.table_card_buttons .btn{
  height: $input-height;
}

.table_card_buttons > *:not(:last-child){
  margin-bottom: 15px;
}

.table-card-close-button{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 26px;
  cursor: pointer;
  z-index: 2;
}


.mobile-view .table-card-close-button{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
}

.table-card-close-button:hover{
color: var(--link-color);
}

