body{
    margin: 0;
    padding: 0;
    overflow:hidden;
}

p{ 
     text-align: center; 

     position: relative;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(29, 27, 49)
}

.conceptG text{
    pointer-events: none;
}

marker{
    fill: rgb(230, 230, 230);
}

g.conceptG circle{
    fill: rgb(20, 20, 40);
    stroke: rgb(230, 230, 230);
    stroke-width: 2px;
    color: rgb(230, 230, 230);
}

g.conceptG text tspan{
    fill: rgb(230, 230, 230);
}

g.conceptG:hover circle{
    fill: rgb(45, 45, 65);
    stroke: rgb(200, 200, 255);
}

g.selected circle{
    stroke-width: 4px;
    stroke: rgb(150, 150, 255);
}
g.selected:hover circle{
    stroke-width: 4px;
    stroke: rgb(150, 150, 255);
}

#hover-end-arrow
{
    fill: rgb(200, 200, 255);
}

path.link {
    fill: none;
    stroke: rgb(230, 230, 230);
    stroke-width: 4px;
    cursor: default;
    marker-end: url(#end-arrow);
}

path.link:hover{
    stroke: rgb(200, 200, 255);
    marker-end: url(#hover-end-arrow);
}

g.connect-node circle
{
    fill: red;
}

path.link.hidden
{
    stroke-width: 0;
}



path.link.selected {
    stroke: rgb(150, 150, 255);
    marker-end: url(#selected-end-arrow);
}


#selected-end-arrow
{
    fill: rgb(150, 150, 255);
}




