<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="graph-creator.css" />
  </head>

  <body>
    <input type="button" value="удалить" onclick="grc.delete()" style="position: absolute;"/>
    <input type="button" value="создать" onclick="grc.create()" style="position: absolute; left:  100px"/>
    <input type="button" value="очистить" onclick="grc.clear()" style="position: absolute; left:  200px"/>
    <input type="checkbox" value="добавить" onclick="" style="position: absolute; left: 300px"/>
    <script src="https://d3js.org/d3.v3.js" charset="utf-8"></script>    
    <script src="graph-creator.js"></script>
  </body>


</html>