$body-bg-color: rgb(71, 81, 89);

$panel-bg-color: rgb(35, 39, 43);

$text-color: rgb(255, 255, 255);

$border-color: rgb(128, 128, 128);
$table-row-color: rgb(40, 45, 50);
$table-row-color-selected: rgb(50, 60, 70);

$input-bg-color: rgb(29, 27, 49);
$input-bg-color-disabled : rgb(30, 35, 38);
$input-hover-bg-color: rgb(34, 32, 54);