

[theme="dark_3d"]
{
    --body-bg-color: rgb(71, 81, 89);

    --panel-bg-color: rgb(35, 39, 43);

    --text-color: rgb(190, 190, 190);

    --border-color: rgb(128, 128, 128);
    --table-row-color: rgb(40, 45, 50);
    --table-row-color-selected: rgb(50, 60, 70);
    --table-row-border-color: black;

    --input-bg-color: rgb(29, 27, 49);
    --input-bg-color-disabled : rgb(30, 35, 38);
    --input-hover-bg-color: rgb(34, 32, 54);

    --disabled-bg-color: rgb(30, 35, 38);

    --workflow-marker-color: rgb(230, 230, 230);
    --workflow-g-hover-color: rgb(200, 200, 255);
    --workflow-g-selected-color:rgb(150, 150, 255);
    --workflow-g-fill-color: rgb(20, 20, 40);
    --workflow-g-hover-fill-color: rgb(45, 45, 65);

    --link-color: rgb(128, 146, 157);
    --issue-card-descr-color: rgb(128, 146, 157);

    --button-color: #333;

    --on-button-icon-color: rgb(255, 255, 255);
    --off-button-icon-color: rgb(108, 108, 108);

  
    --issues-search-idx-0-color: rgb(50, 210, 50);
    --issues-search-idx-1-color: rgb(237, 237, 42);
    --issues-search-idx-2-color: rgb(114, 114, 248);
    --issues-search-idx-3-color: orange;
    --issues-search-idx-4-color: rgb(197, 180, 124);
    --issues-search-bad-color: red;

    --loading-bg-color: rgba(32, 36, 40, 0.3);
    --loading-bar-color: rgba(20, 22, 24, 0.5);

    --panel-border-radius: 10px;
    --border-radius: 6px;
    --border-style: inset;
    --border-width: 2px;
    --issue-search-btn-top-border-width: 0px;

    --code-block-bg-color: #29353f;
    --code-scroll-thumb-bg-color: #344657;
    --code-scroll-track-bg-color: #1d2831;
    --code-scroll-thumb-hover-color: #4d6274;
    --code-fragment-text-color: #E8912D;
    --code-fragment-border-color: #3C3E42;
    --code-bg-color: #29353f;
}
[theme="light"]
{

    --body-bg-color: rgb(201,217,245);

    --panel-bg-color: #fff;


    --text-color: #114066;

    --border-color: rgb(108, 146, 211);
    --table-row-color: #f7f9fa;
    --table-row-color-selected: rgb(235, 246, 255);
    --table-row-border-color: rgb(51, 51, 51);

    --input-bg-color: #fff;
    --input-bg-color-disabled : rgb(240, 240, 240);
    --input-hover-bg-color: #f7f9fa;

    --disabled-bg-color: rgb(240, 240, 240);

    --workflow-marker-color: rgb(80, 80, 100);
    --workflow-g-hover-color: rgb(100, 120, 190);
    --workflow-g-selected-color:rgb(80, 90, 230);
    --workflow-g-fill-color: rgb(235, 246, 255);
    --workflow-g-hover-fill-color: rgb(215, 226, 255);

    --link-color: rgb(38, 66, 205);
    --issue-card-descr-color: rgb(28, 46, 57);

    --button-color: rgb(235, 246, 255);

    --on-button-icon-color: rgb(80, 90, 255);
    --off-button-icon-color: rgb(140, 140, 140);

    --issues-search-idx-0-color: green;
    --issues-search-idx-1-color: rgb(192, 179, 2);
    --issues-search-idx-2-color: blue;
    --issues-search-idx-3-color: rgb(221, 145, 2);
    --issues-search-idx-4-color: rgb(107, 98, 66);
    --issues-search-bad-color: red;

    --loading-bg-color: rgba(250, 250, 255, 0.3);
    --loading-bar-color: rgba(201,217,245, 0.5);

    --panel-border-radius: 0px;
    --border-radius: 3px;
    --border-style: solid;
    --border-width: 1px;
    --issue-search-btn-top-border-width: 1px;

    --code-block-bg-color: #F6F6F6;
    --code-scroll-thumb-bg-color: #ababab;
    --code-scroll-track-bg-color: #d7e1e9;
    --code-scroll-thumb-hover-color: #4d6274;
    --code-fragment-text-color: #E11E5A;
    --code-fragment-border-color: #DADADA;
    --code-bg-color: #F6F6F6;

}
[theme="dark"]
{

    --body-bg-color: rgb(71, 81, 89);

    --panel-bg-color: rgb(30, 34, 37);

    --text-color: rgb(168, 186, 197);

    --border-color: rgba(71, 81, 89);
    --table-row-color: rgb(40, 45, 50);
    --table-row-color-selected: rgb(50, 60, 70);
    --table-row-border-color: black;

    --input-bg-color: rgb(20 24 31);
    --input-bg-color-disabled : rgb(35, 35, 38);
    --input-hover-bg-color: rgb(34, 32, 54);

    --disabled-bg-color: rgb(20 24 31);

    --workflow-marker-color: rgb(230, 230, 230);
    --workflow-g-hover-color: rgb(200, 200, 255);
    --workflow-g-selected-color:rgb(150, 150, 255);
    --workflow-g-fill-color: rgb(20, 20, 40);
    --workflow-g-hover-fill-color: rgb(45, 45, 65);

    --link-color: rgb(108, 146, 211);
    --issue-card-descr-color: rgb(128, 146, 157);

    --button-color: rgb(55, 60, 63);

    --on-button-icon-color: rgb(198, 216, 227);
    --off-button-icon-color: rgb(108, 108, 108);

  
    --issues-search-idx-0-color: rgb(30, 170, 30);
    --issues-search-idx-1-color: rgb(207, 207, 22);
    --issues-search-idx-2-color: rgb(114, 114, 248);
    --issues-search-idx-3-color: orange;
    --issues-search-idx-4-color: rgb(187, 174, 130);
    --issues-search-bad-color: red;

    --loading-bg-color: rgba(30, 34, 37, 0.3);
    --loading-bar-color: rgba(20, 24, 30, 0.5);


    --panel-border-radius: 0px;
    --border-radius: 3px;
    --border-style: solid;
    --border-width: 1px;
    --issue-search-btn-top-border-width: 1px;

    --code-block-bg-color: #29353f;
    --code-scroll-thumb-bg-color: #344657;
    --code-scroll-track-bg-color: #1d2831;
    --code-scroll-thumb-hover-color: #4d6274;
    --code-fragment-text-color: #E8912D;
    --code-fragment-border-color: #3C3E42;
    --code-bg-color: #29353f;

}
[theme="pink"]
{
    --body-bg-color: rgb(250, 189, 238);

    --panel-bg-color: rgb(244, 171, 213);

    --text-color: rgb(252, 49, 171);

    --border-color: rgb(219, 3, 129);
    --table-row-color: rgb(243, 189, 225);
    --table-row-color-selected: rgb(233, 160, 201);
    --table-row-border-color: rgb(234, 134, 212);

    --input-bg-color: rgb(243, 189, 225);
    --input-bg-color-disabled : rgb(199, 180, 197);
    --input-hover-bg-color: rgb(249, 175, 240);

    --disabled-bg-color: rgb(248, 200, 232);

    --workflow-marker-color: rgb(255, 0, 144);
    --workflow-g-hover-color: rgb(246, 138, 201);
    --workflow-g-selected-color:rgb(144, 56, 107);
    --workflow-g-fill-color: rgb(250, 189, 238);
    --workflow-g-hover-fill-color: rgb(246, 138, 201);

    --link-color: rgb(246, 138, 201);
    --issue-card-descr-color: rgb(255, 0, 144);

    --button-color: rgb(245, 150, 205);

    --on-button-icon-color: rgb(255, 0, 183);
    --off-button-icon-color: rgb(211, 120, 120);

  
    --issues-search-idx-0-color: rgb(50, 210, 50);
    --issues-search-idx-1-color: rgb(237, 237, 42);
    --issues-search-idx-2-color: rgb(114, 114, 248);
    --issues-search-idx-3-color: orange;
    --issues-search-idx-4-color: rgb(107, 98, 66);
    --issues-search-bad-color: red;

    --loading-bg-color: rgba(234, 161, 203, 0.3);
    --loading-bar-color: rgba(235, 140, 195, 0.6);

    --panel-border-radius: 0px;
    --border-radius: 20px;
    --border-style:solid;
    --border-width: 0px;
    --issue-search-btn-top-border-width: 0px;

    --code-block-bg-color: #000000;
    --code-scroll-thumb-bg-color: #6b3b65;
    --code-scroll-track-bg-color: #1a2024;
    --code-scroll-thumb-hover-color: #8d3d83;
    --code-fragment-text-color: #802398;
    --code-fragment-border-color: #c692d3;
    --code-bg-color: #b78bc2;

}
