

[theme="dark_3d"]
{
    --body-bg-color: rgb(51, 61, 69);

    --panel-bg-color: rgb(35, 39, 43);
    --group-bg-color: rgba(58, 68, 77, 0.5);

    --text-color: rgb(190, 190, 190);

    --border-color: rgba(128, 128, 128, 0);
    --table-row-color: rgb(40, 45, 50);
    --table-row-color-selected: rgb(50, 60, 70);
    --table-row-border-color: black;

    --input-bg-color: rgb(19, 17, 39);
    --input-bg-color-disabled : rgb(30, 35, 38);
    --input-hover-bg-color: rgb(34, 32, 54);

    --disabled-bg-color: rgb(30, 35, 38);
    --disabled-text-color: rgb(190, 190, 190);

    --workflow-marker-color: rgb(230, 230, 230);
    --workflow-g-hover-color: rgb(200, 200, 255);
    --workflow-g-selected-color:rgb(150, 150, 255);
    --workflow-g-fill-color: rgb(20, 20, 40);
    --workflow-g-hover-fill-color: rgb(45, 45, 65);

    --link-color: rgb(128, 146, 157);
    --issue-card-descr-color: rgb(128, 146, 157);

    --button-color: #333;

    --on-button-icon-color: rgb(255, 255, 255);
    --off-button-icon-color: rgb(108, 108, 108);

  
    --issues-search-idx-0-color: rgb(50, 210, 50);
    --issues-search-idx-1-color: rgb(237, 237, 42);
    --issues-search-idx-2-color: rgb(114, 114, 248);
    --issues-search-idx-3-color: orange;
    --issues-search-idx-4-color: rgb(197, 180, 124);
    --issues-search-bad-color: red;

    --loading-bg-color: rgba(32, 36, 40, 0.3);
    --loading-bar-color: rgba(20, 22, 24, 0.5);

    --panel-border-radius: 10px;
    --border-radius: 6px;
    --border-style: inset;
    --border-width: 2px;
    --issue-search-btn-top-border-width: 0px;

    --code-block-bg-color: #29353f;
    --code-scroll-thumb-bg-color: #344657;
    --code-scroll-track-bg-color: #1d2831;
    --code-scroll-thumb-hover-color: #4d6274;
    --code-fragment-text-color: #E8912D;
    --code-fragment-border-color: #3C3E42;
    --code-bg-color: #29353f;

    --scroll-color: rgb(70, 70, 70);
    --scroll-shadow-color: rgb(10,10,10);

    --link-hover-color: green;
    --icon-hover-bg-color: rgba(37, 64, 81, 0.6);

    --err-color: rgb(166, 13, 13);
}
[theme="light"]
{

    --body-bg-color: rgb(231,237,255);

    --panel-bg-color: #fff;
    --group-bg-color: rgba(238, 244, 255, 0.5);


    --text-color: #114066;

    --border-color: rgb(108, 146, 211);
    --table-row-color: #f7f9fa;
    --table-row-color-selected: rgb(235, 246, 255);
    --table-row-border-color: rgb(51, 51, 51);

    --input-bg-color: rgb(231,237,255);
    --input-bg-color-disabled : rgb(240, 240, 240);
    --input-hover-bg-color: #f7f9fa;

    --disabled-bg-color: rgb(240, 240, 240);
    --disabled-text-color: #114066;

    --workflow-marker-color: rgb(80, 80, 100);
    --workflow-g-hover-color: rgb(100, 120, 190);
    --workflow-g-selected-color:rgb(80, 90, 230);
    --workflow-g-fill-color: rgb(235, 246, 255);
    --workflow-g-hover-fill-color: rgb(215, 226, 255);

    --link-color: rgb(38, 66, 205);
    --issue-card-descr-color: rgb(28, 46, 57);

    --button-color: rgb(235, 246, 255);

    --on-button-icon-color: rgb(80, 90, 255);
    --off-button-icon-color: rgb(140, 140, 140);

    --issues-search-idx-0-color: green;
    --issues-search-idx-1-color: rgb(192, 179, 2);
    --issues-search-idx-2-color: blue;
    --issues-search-idx-3-color: rgb(221, 145, 2);
    --issues-search-idx-4-color: rgb(107, 98, 66);
    --issues-search-bad-color: red;

    --loading-bg-color: rgba(250, 250, 255, 0.3);
    --loading-bar-color: rgba(201,217,245, 0.5);

    --panel-border-radius: 4px;
    --border-radius: 3px;
    --border-style: solid;
    --border-width: 1px;
    --issue-search-btn-top-border-width: 1px;

    --code-block-bg-color: #F6F6F6;
    --code-scroll-thumb-bg-color: #ababab;
    --code-scroll-track-bg-color: #d7e1e9;
    --code-scroll-thumb-hover-color: #4d6274;
    --code-fragment-text-color: #E11E5A;
    --code-fragment-border-color: #DADADA;
    --code-bg-color: #F6F6F6;

    --scroll-color: rgb(235, 246, 255);
    --scroll-shadow-color: rgb(165,176,185);

    --link-hover-color: green;
    --icon-hover-bg-color: rgba(183, 228, 255, 0.7);

    --err-color: rgb(166, 13, 13);
}
[theme="dark"]
{

    --body-bg-color: rgb(23, 33, 43);

    --panel-bg-color: #242F3D;
    --group-bg-color: rgba(30, 40, 50, 0.5);

    --text-color: rgba(228, 230, 240);

    --border-color: rgba(71, 81, 89, 0.6);
    --table-row-color: #242F3D;
    --table-row-color-selected: #394c60;
    --table-row-border-color: black;

    --input-bg-color: rgb(30 34 46);
    --input-bg-color-disabled : rgb(35, 35, 38);
    --input-hover-bg-color: rgb(34, 32, 54);

    --disabled-bg-color: #283240;
    --disabled-text-color: rgba(118, 120, 130);

    --workflow-marker-color: rgb(230, 230, 230);
    --workflow-g-hover-color: rgb(200, 200, 255);
    --workflow-g-selected-color:rgb(150, 150, 255);
    --workflow-g-fill-color: rgb(20, 20, 40);
    --workflow-g-hover-fill-color: rgb(45, 45, 65);

    --link-color: rgb(108, 146, 211);
    --issue-card-descr-color: rgb(128, 146, 157);

    --button-color: #4a5867;

    --on-button-icon-color: rgb(198, 216, 227);
    --off-button-icon-color: rgb(108, 108, 108);

  
    --issues-search-idx-0-color: rgb(30, 170, 30);
    --issues-search-idx-1-color: rgb(207, 207, 22);
    --issues-search-idx-2-color: rgb(114, 114, 248);
    --issues-search-idx-3-color: orange;
    --issues-search-idx-4-color: rgb(187, 174, 130);
    --issues-search-bad-color: red;

    --loading-bg-color: rgba(30, 34, 37, 0.3);
    --loading-bar-color: rgba(20, 24, 30, 0.5);


    --panel-border-radius: 4px;
    --border-radius: 3px;
    --border-style: inset;
    --border-width: 1px;
    --issue-search-btn-top-border-width: 1px;

    --code-block-bg-color: #29353f;
    --code-scroll-thumb-bg-color: #344657;
    --code-scroll-track-bg-color: #1d2831;
    --code-scroll-thumb-hover-color: #4d6274;
    --code-fragment-text-color: #E8912D;
    --code-fragment-border-color: #3C3E42;
    --code-bg-color: #29353f;

    --scroll-color: rgb(65, 70, 73);
    --scroll-shadow-color: rgb(10,15,20);

    --link-hover-color: green;
    --icon-hover-bg-color: rgba(37, 64, 81, 0.6);

    --err-color: rgb(166, 13, 13);
}
